<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="api-test">
         <classes>
             <!-- <class name="HelloWorld"/> -->
<!--             <class name ="ListUser"/>-->
	             <class name ="GetSingleUser"/>
<!--             <class name ="CreateUser"/>-->
         </classes>
    </test>
</suite>